
/* Show form  */

.custom-label {
    color: #555;
    font-weight: bold;
  }
  
  .custom-value {
    color: #ef9c76;
  }
  
  .custom-background {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .form {
    margin-left: 500px;
  }

/* End Show */

/* Edit  Invoices   */
  .row {
    display: flex;
    margin-left: -50px;
}
