/* Her is for Buttoms to Index Invoices */
.custom-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    outline: none;
    text-decoration: none;
    margin-right: 0.5rem;
  }
  
  .custom-btn:hover {
    background-color: #f0f0f0;
    color: #333;
  }
  
  .custom-btn-warning {
    background-color: #f39c12;
    color: #fff;
  }
  
  .custom-btn-info {
    background-color: #3498db;
    color: #fff;
  }
  
  .custom-btn-success {
    background-color: #2ecc71;
    color: #fff;
  }
  /* Finis for style Buttoms to Index Invoices */
  


  

  
  



  /* Style for InvoiceItems(Component)*/
  .btn-outline-secondary {
    color: #0987f6;
    border-color: #0986f4;
    color: #eff709;
    background-color: transparent;
  }
  
  .button1{
    margin-left: -300px;
  }
  /* End the InvoiceItems(Component) */
  
  
  /*Style for InvoiceEdit  Save Changes  */
  .my-style-button {
    margin-right: -80px;
    margin-top: 10px;
  
  }
  /* End or style InvoiceEdit  Save Changes  */