
/* Main Layout  Start*/
.TableUser {
    margin-left: 300px;
}

.Pragraf {
    margin-left: 230px;
}

/* UserProfile END*/






/* Main Layout  Start*/
.nav-item {
    list-style: none;
    display: inline;
    padding: 0;
    margin-left: 300px;
}

.nav-item button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
}
/* Main Layout  END*/